# Mark platform-specific folders as vendored to exclude them from language statistics
android/* linguist-vendored
ios/* linguist-vendored
linux/* linguist-vendored
macos/* linguist-vendored
windows/* linguist-vendored
web/* linguist-vendored
